#container {
    width: 80%;
    margin: 10px auto;
    overflow: hidden;
}

.main {
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin-top: 20px;
}

.main > .login {
    width: 50%;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px auto;
}

.main > .login > .top {
    height: 44px;
    background-color: #ffbb0f;
}

.main > .login > .top > img {
    margin-top: 6px;
}

.main > .login > .top > span {
    font-weight: bold;
    font-size: 1.3rem;
    display: inline-block;
    marign-bottom: 12px;
    position: relative;
    bottom: 9px;
}

.main > .login > .content {
    width: 70%;
    margin: 40px auto;
}

.main > .login > .content p {
    margin: 20px;
}

.main > .login > .content p > span {
    display: inline-block;
    width: 80px;
    text-align: right;
}

.main > .login > .content p > .inputtxt {
    height: 32px;
    width: 240px;
}

.main > .login > .content p > .loginbtn {
    width: 100px;
    padding: 5px;
    font-weight: bold;
    font-size: 1.1rem;
}

/*.main>.login>.content p>.ges{*/
/*    width: 150px;*/
/*    padding: 5px;*/
/*    font-weight: bold;*/
/*    font-size: 1.1rem;*/
/*}*/
.error {
    color: red;
}

