@font-face {
    font-family: "iconfont"; /* Project id  */
    src: url('iconfont.ttf?t=1666871982436') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-iconfonticonfonticons:before {
    content: "\e61c";
}

.icon-iconfonticonfonti2:before {
    content: "\e62c";
}

.icon-xiangyoujiantou:before {
    content: "\e65f";
}

.icon-xiangzuojiantou:before {
    content: "\e660";
}

.icon-iconfontyouhuiquan:before {
    content: "\e627";
}

.icon-iconfontxingxing:before {
    content: "\e628";
}

.icon-iconfontmingpian:before {
    content: "\e629";
}

.icon-iconfontriyongbaihuo:before {
    content: "\e62d";
}

.icon-iconfontjingxihuaxue:before {
    content: "\e637";
}

.icon-iconfontjiafangjiashi:before {
    content: "\e638";
}

.icon-iconfontjixieqimo:before {
    content: "\e639";
}

.icon-iconfontmeizhuangrihua:before {
    content: "\e63b";
}

.icon-iconfonthuagongyuanliao:before {
    content: "\e63e";
}

.icon-iconfonttongzhuangmuying:before {
    content: "\e63f";
}

.icon-iconfontwujingongju:before {
    content: "\e641";
}

.icon-iconfontxiangjiaosuliao:before {
    content: "\e643";
}

.icon-iconfontxiebaopeishi:before {
    content: "\e644";
}

.icon-iconfontyejinkuangchan:before {
    content: "\e645";
}

.icon-iconfontyiqiyibiao:before {
    content: "\e646";
}

.icon-iconfontyundonghuwai:before {
    content: "\e647";
}

.icon-iconfontzhaomingdianzi:before {
    content: "\e648";
}

.icon-iconfontfuzhuangneiyi:before {
    content: "\e64b";
}

.icon-iconfontfuwushichang:before {
    content: "\e64d";
}

.icon-iconfontfangzhipige:before {
    content: "\e64e";
}

.icon-iconfontdiangongdianqi:before {
    content: "\e64f";
}

.icon-iconfontbaozhuang:before {
    content: "\e650";
}

.icon-iconfontanquanfanghu:before {
    content: "\e651";
}

.icon-youjiantou:before {
    content: "\e612";
}

.icon-paizhao:before {
    content: "\e872";
}

.icon-youjiantou1:before {
    content: "\e60f";
}

.icon-zuojiantou:before {
    content: "\e604";
}

.icon-zuojiantou1:before {
    content: "\e508";
}

.icon-youjiantou2:before {
    content: "\e610";
}

.icon-chazhao:before {
    content: "\e9c8";
}

